[submodule "wheelcc"]
    path = wheelcc
    url = https://github.com/romainducrocq/wheelcc
    branch = master
[submodule "nqcc2"]
    path = nqcc2
    url = https://github.com/nlsandler/nqcc2
    branch = main
[submodule "writing-a-c-compiler-tests"]
    path = writing-a-c-compiler-tests
    url = https://github.com/nlsandler/writing-a-c-compiler-tests
    branch = main
