.idea/
__pycache__/
.ipynb_checkpoints
~/
.vscode
perf.data
*.swp

/wheelcc/
/nqcc2/
/writing-a-c-compiler-tests/

/bin/wacc-bootstrap-*
/bin/wacc-selfhosted-*
/bin/wacc-selfhosted
/bin/exec.name
/build/
